llama-index
llama-index-vector-stores-pinecone
openai
chainlit
pypdf
llmsherpa
pinecone-client
llama-hub
#transformers
#torch
llama-index-core        # Feb 21 2024
llama-index-llms-openai         # Feb 21 2024
llama-index-embeddings-openai