*.env
*__pycache__
**/storage/
*.gitattributes
**/data/*
!**/data/
5.Sources\ Extended
7.HybridRetriever
6.HybridRetrievercopy
8.Prompting
8.Token counter
8.Evaluation with TruLens
9.Cohere Reranker
10.Query Transformation
*.files
11.Response Synthesis
A.Chainlit Example Contribution